.modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);	
	display: flex;
	justify-content: center;
	align-items: center;
}

.body{
	width: 50%;
	padding: 1rem;
	background-color: #ffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cancelBtn{
	display: flex;
	justify-content: flex-end;
}

.btn{
	background: rgba(128, 0,0 ,0.8);
	color: #fff;
	font-size: 1rem;
	padding: 0.5rem;
	border: none;
}
.hide{
	display: none;
}