.container{
	width: 40%;
	box-shadow: 0px 0px 4px 0px #ccc;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header{
	font-size: 2rem;
	font-weight: 700;
	color: brown;
}

.form{
	display: flex;
	flex-direction: column;
	// padding: 1rem;
}

.inputWrapper{
	margin: 1rem 0rem;
	width: 100%;
	position: relative;
	height: 50px;
	overflow: hidden;
}

.input{
	border: none;
	width: 100%;
	height: 100%;
	outline: none;
	padding-top: 1rem;
	font-size: 1rem;
	background: none;
} 
.label{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid #000;
}

.label::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid brown;
	left: 0;
	transform: translateX(-100%);
	transition: all 0.3s ease;
}

.content{
	position: absolute;
	bottom: 5px;
	left: 0;
	transition: all 0.3s ease;
}

.input:focus + .label .content, .input:valid + .label .content{
	transform: translateY(-150%);
	color: brown;
}

.input:focus + .label::after, .input:valid + .label::after{

	transform: translateX(0%);
}

.btn{
	border: none;
	background: brown;
	color: #fff;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	box-shadow: 0px 0px 4px 0px #ccc;
	font-weight: 700;
}

.success{
	color: green;
}
.fail{
	color: red;
}

@media only screen and (max-width: 450px){
	.container{
		width: 70%;
		box-shadow: none;
		box-shadow: 0px 0px 4px 0px #ccc;
	}
}